body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #005a8f, #feb47b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.quiz-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.question {
    font-size: 20px;
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 10px 20px;
    background-color: #0053cf;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #feb47b;
}

.option {
    background-color: #f0f0f0;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #feb47b;
}

.result-container {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
}
.button{
    margin-top: 30px;
    border-radius: 50%;
    background-position: center;
}